<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CovidMap</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
</head>
<body>
    <div class="glass-container">
        <header class="minimal-header">
            <div class="glassy-navbar-box">
                <span class="minimal-logo d-flex align-items-center gap-2">
                    <i class="fa-solid fa-virus-covid fa-lg"></i>
                    <span class="minimal-title">CovidMap</span>
                </span>
            </div>
        </header>

        <div class="container-fluid px-2 px-md-4">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="glass-footer">
            <div class="container">
                &copy; 2025 - CovidMap body DarkMust
            </div>
        </footer>
    </div>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="/js/site.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html> 