# General
[Bb]in/
[Oo]bj/

# Development
*.log
*.user
*.suo
*.sln.dotsettings
*.vsextension

# Package managers
packages

# Rider
.idea/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Config files (consider how you handle appsettings.Production.json/secrets)
appsettings.Development.json

# Generated build artifacts and archives
/publish/
publish.zip 